/* Container for the forgot password form */
.forgot-pass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 150px auto;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Form container */
.forgot-pass-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Heading style */
.forgot-pass-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--lightblue-base);
  text-shadow: 
  2px 2px 0px black,  /* Right bottom */
  2px 2px 0px black, /* Left bottom */
  2px 2px 0px black, /* Right top */
  2px 2px 0px black; /* Left top */
}

/* Instructional text */
.forgot-pass-container p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
  text-align: center;
}

/* Label styling */
.forgot-pass-container label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  align-self: flex-start;
  visibility: hidden; /* Hidden label, still accessible for screen readers */
}

/* Input field styling */
.forgot-pass-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
.forgot-pass-container button {
  width: 100%;
  padding: 10px;
  background-color: var(--lightblue-base);
  color: white;
  border: 1.5px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 
  2px 2px 0px black,  /* Right bottom */
  2px 2px 0px black, /* Left bottom */
  2px 2px 0px black, /* Right top */
  2px 2px 0px black; /* Left top */
}

/* Button hover effect */
.forgot-pass-container button:hover {
  opacity: 0.8;
}

/* Media query for smaller devices */
@media (max-width: 400px) {
  .forgot-pass-container {
    width: 90%;
  }
}
