/* Container for the reset password form */
.reset-pass-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  margin: 150px auto;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/* Flex container for form fields */
.reset-pass-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Heading style */
.reset-pass-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--lightblue-base);
  text-shadow: 
  2px 2px 0px black,  /* Right bottom */
  2px 2px 0px black, /* Left bottom */
  2px 2px 0px black, /* Right top */
  2px 2px 0px black; /* Left top */
}

/* Instructional text */
.reset-pass-form p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #666;
  text-align: center;

  span {
    border-radius: 10px;
    background-color: var(--lightblue-base);
    padding: 0px 9px;
    color: #333;
  }
}

/* Label styling */
.reset-pass-form label {
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
  align-self: flex-start; /* Aligns labels to the left */
  visibility: hidden; /* Hides label since it's unnecessary visually */
}

/* Input field styling */
.reset-pass-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

/* Button styling */
.reset-pass-form button {
  width: 100%;
  padding: 10px;
  background-color: var(--lightblue-base);
  color: white;
  border: 1.5px solid black;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 
  2px 2px 0px black,  /* Right bottom */
  2px 2px 0px black, /* Left bottom */
  2px 2px 0px black, /* Right top */
  2px 2px 0px black; /* Left top */
}

/* Button hover effect */
.reset-pass-form button:hover {
  opacity: 0.8;
}
.link-containerr{
  display:flex;
  font-size: 13px;
  margin-top: 10px;
}

a {
  color: var(--blue-shade2);
}
.change-email{
  gap: 5px;
}
/* Media query for smaller devices */
@media (max-width: 400px) {
  .reset-pass-form {
    width: 90%;
  }

  .change-email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
  .reset-pass-form p {
    margin-bottom: 0;
  }
  .change-email-text{
    margin-top: 15px;
    margin-bottom: 10px;
  }
  .change-mail-link{
    margin-bottom: 10px;
  }
}
